<Config>
  <Main>
    <Interval>60</Interval>
    <NewTestLine>1</NewTestLine>
  </Main>
  <DB>
    <SyncConfig>sync.xml</SyncConfig>
    <MESDBStartIndex>5</MESDBStartIndex>
    <IDColList>ID,SELFID,PK_DMS_AUTO_INDEX_EmissionTotal,PK_DMS_AUTO_INDEX_DieselTotal</IDColList>
  </DB>
  <DBInfo>
    <DB_0>
      <IP>127.0.0.1</IP>
      <Port>1433</Port>
      <UserID>sa</UserID>
      <Pwd>sh49</Pwd>
      <Name>EOL_FOTON_ABS</Name>
      <LastIDList>0,0,0,0,0</LastIDList>
      <TableList>ABS_Valve,Horn_Test,Pedal_Test,Speed_Check,Static_ABS</TableList>
    </DB_0>
    <DB_1>
      <IP>127.0.0.1</IP>
      <Port>1433</Port>
      <UserID>sa</UserID>
      <Pwd>sh49</Pwd>
      <Name>EOL_FOTON_LS</Name>
      <LastIDList>0</LastIDList>
      <TableList>Brake_Test</TableList>
    </DB_1>
    <DB_2>
      <IP>127.0.0.1</IP>
      <Port>1433</Port>
      <UserID>sa</UserID>
      <Pwd>sh49</Pwd>
      <Name>EOL_FOTON_WA</Name>
      <LastIDList>0</LastIDList>
      <TableList>TestResultWA</TableList>
    </DB_2>
    <DB_3>
      <IP>127.0.0.1</IP>
      <Port>1433</Port>
      <UserID>sa</UserID>
      <Pwd>sh49</Pwd>
      <Name>EOL_FOTON_HLA</Name>
      <LastIDList>0</LastIDList>
      <TableList>TestResultHLA</TableList>
    </DB_3>
    <DB_4>
      <IP>127.0.0.1</IP>
      <Port>1433</Port>
      <UserID>sa</UserID>
      <Pwd>sh49</Pwd>
      <Name>EOL_FOTON_GAS</Name>
      <LastIDList>-1,-1</LastIDList>
      <TableList>EmissionTotal,DieselTotal</TableList>
    </DB_4>
    <DB_5>
      <IP>127.0.0.1</IP>
      <Port>1433</Port>
      <UserID>sa</UserID>
      <Pwd>sh49</Pwd>
      <Name>EOL_FOTON_INFO</Name>
      <LastIDList>0</LastIDList>
      <TableList>VehicleInfo</TableList>
    </DB_5>
    <DB_6>
      <IP>127.0.0.1</IP>
      <Port>1433</Port>
      <UserID>sa</UserID>
      <Pwd>sh49</Pwd>
      <Name>FS_EOL_TESTER</Name>
      <LastIDList>0,0,0,0,0,0</LastIDList>
      <TableList>FS_MES_Vehicle_TEST,FS_MES_SL_TEST,FS_MES_DD_TEST,FS_MES_PF_TEST,FS_MES_Other_TEST,FS_Vehicleinfo</TableList>
    </DB_6>
  </DBInfo>
</Config>